/*fonts*/
@font-face {
	font-family: "MuseoSans300";
	src: url("./fonts/MuseoSansCyrl300.ttf");
}
@font-face {
	font-family: "MuseoSans500";
	src: url("./fonts/MuseoSansCyrl500.ttf");
}
@font-face {
	font-family: "MuseoSans700";
	src: url("./fonts/MuseoSansCyrl700.ttf");
}
@font-face {
	font-family: "MuseoSans900";
	src: url("./fonts/MuseoSansCyrl900.ttf");
}

/*paddings and margins*/
.pd0{
	padding: 0;
}
.m20{
	margin-left: -20px;
}
/*slider*/
.slider{
	width: 100%;
	height: auto;
	position: relative;
	padding: 40px;
	background: #ef4c2a; /* Old browsers */
    background: -moz-linear-gradient(top, #ef4c2a 0%, #f36e19 50%, #f19104 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ef4c2a 0%,#f36e19 50%,#f19104 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ef4c2a 0%,#f36e19 50%,#f19104 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/*slider menu*/
.slider .navbar-default{
	/*background-color: #ef4e29;*/
	background: transparent;
	border-color: transparent; 
	/*height: 80px;*/
}
.slider .navbar-default .mine-btn{
	font-family: MuseoSans500;
	background: #fff;
	border-radius: 10px;
	padding: 7px 55px;
	text-align: center;
	color: #ef4d2a;
	margin-top: 8px;
}
.slider .navbar-default .navbar-nav>.active>a, .slider .navbar-default .navbar-nav>li>a,.slider  .navbar-default .navbar-nav>.open>a, .slider .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
	color: #fff;
	font-size: 14px;
	font-family: MuseoSans300;
}
.slider .navbar-right .dropdown-menu{
	min-width: 60px;
	background: #fff;
}
.slider .main{
	margin-top: 100px;
}
.slider .main .left-side h1{
	font-family: MuseoSans700;
	color: #fff;
	font-weight: bold;
	font-size: 46px;
}
.slider .main .left-side .under-title{
	margin-top: 10px;
	color: #fff;
	font-family: MuseoSans300;
	font-size: 14px;
	margin-bottom: 60px;
}
.slider .main .left-side .more{
	width: 170px;
}
.slider .main .left-side .more a{
	margin-top: 30px;
	margin-left: 10px;
	color: #fbd2ba;
	font-family: MuseoSans300;
	font-size: 14px;
	text-decoration: none;
}
.slider .main .left-side .more .line{
	position: relative;
	display: block;
	float: right;
	right: 0;
	top: 10px;
	width: 13px;
	height: 2px;
	background: #fbd2ba;
}
.slider .main .left-side .more .arrow{
	position: absolute;
	border: solid #fbd2ba;
  	border-width: 0 2px 2px 0;
  	display: inline-block;
  	padding: 3px;
  	right: -1px;
  	bottom: -3px;
	transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.slider .main .right-side .odd{
	/*height: 330px;*/
	background: #fff;
	border-radius: 10px;
	padding: 40px 10px 20px 30px;
}
.slider .main .right-side .watch{
	margin-top: 20px;
	color: #fff;
	font-size: 14px;
	padding: 5px 15px;
	text-decoration: none;
	position: relative;
	z-index: 1;
	background: #ef4c2a; /* Old browsers */
    background: -moz-linear-gradient(top, #ef4c2a 0%, #f89604 52%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ef4c2a 0%,#f89604 52%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ef4c2a 0%,#f89604 52%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.slider .main .right-side .odd h4{
	font-family: MuseoSans900;
	font-size: 14px;
	color: #3c3c3c;
	font-weight: bold;
	line-height: 20px;
}
.slider .main .right-side .odd .time{
	font-family: MuseoSans300;
	font-size: 14px;
	color: #777777;
	padding-left: 10px;
}
.slider .main .right-side .odd .content{
	font-family: MuseoSans300;
	font-size: 14px;
	color: #3c3c3c;
	/*font-weight: bold;*/
	line-height: 20px;
}
.slider .main .right-side .odd .resource{
	font-size: 14px;
	color: #afafaf;
	font-family: MuseoSans300;
	line-height: 20px;
}
.slider .main .right-side .even{
	position: relative;
	height: 350px;
	background: url("../img/6.png");
	border-radius: 10px;
	padding: 150px 10px 20px 25px;
}
.slider .main .right-side .even:after{
	content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 10px;
}
.slider .main .right-side .watch{
	font-family: MuseoSans300;
	margin-top: 20px;
	color: #fff;
	font-size: 14px;
	padding: 5px 15px;
	text-decoration: none;
	position: relative;
	z-index: 1;
	background: #ef4c2a; /* Old browsers */
    background: -moz-linear-gradient(top, #ef4c2a 0%, #f89604 52%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ef4c2a 0%,#f89604 52%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ef4c2a 0%,#f89604 52%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.slider .main .right-side .even h4{
	font-family: MuseoSans900;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	line-height: 20px;
	z-index: 1;
	position: relative;
}
.slider .main .right-side .even .time{
	font-family: MuseoSans300;
	font-size: 14px;
	color: #777777;
	padding-left: 10px;
	z-index: 1;
	position: relative;
}
.slider .main .right-side .even .resource{
	font-family: MuseoSans300;
	font-size: 14px;
	color: #afafaf;
	/*font-weight: bold;*/
	line-height: 20px;
	z-index: 1;
	position: relative;
}

/*projects*/
.projects{
	background:#fff;
	border-radius: 10px;
	padding: 50px 60px;
}
.projects .left-side h1{
	font-family: MuseoSans700;
	font-size: 46px;
	color: #3c3c3c;
	font-weight: bold;
	line-height: 55px;
}
.projects .left-side .under-title{
	font-family: MuseoSans300;
	font-size: 14px;
	color: #ababab;
	line-height: 25px;
}
.projects .left-side .more{
	font-family: MuseoSans300;
	cursor: pointer;
	width: 160px;
	position: relative;
	font-size: 14px;
	color: #f89505;
	margin-top: 40px;
}
.projects .left-side .more a{
	font-family: MuseoSans300;
	font-size: 14px;
	color: #f89505;
	text-decoration: none;
}
.projects .left-side .more .line{
	position: absolute;
	display: block;
	float: right;
	right: 0;
	top: 10px;
	width: 15px;
	height: 2px;
	background: #f89505;
}
.projects .left-side .more .arrow{
	position: absolute;
	border: solid #f89505;
  	border-width: 0 2px 2px 0;
  	display: inline-block;
  	padding: 3px;
  	right: -1px;
  	bottom: -3px;
	transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.projects .right-side h4{
	font-family: MuseoSans700;
	font-size: 18px;
	color: #3c3c3c;
}
.projects .right-side .tag{
	font-family: MuseoSans300;
	font-size: 14px;
	color: #afafaf;
}
.projects .right-side .tag span{
	font-family: MuseoSans300;
	margin-left: 10px;
	font-size: 14px;
	color: #3c3c3c;
}
.projects .right-side .watch{
	font-family: MuseoSans300;
	margin-top: 20px;
	color: #fff;
	font-size: 14px;
	padding: 6px 15px;
	text-decoration: none;
	position: relative;
	z-index: 1;
	background: #ef4c2a; /* Old browsers */
    background: -moz-linear-gradient(top, #ef4c2a 0%, #f89604 52%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ef4c2a 0%,#f89604 52%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ef4c2a 0%,#f89604 52%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/*banner*/
.material {
	position: relative;
	z-index: 1;
}
.material .banner{
	background:#282828;
	border-radius: 10px;
	padding: 30px 60px;
}
.material .banner .left-side h1{
	font-family: MuseoSans700;
	font-size: 46px;
	color: #fff;
	font-weight: bold;
	line-height: 55px;
}
.material .banner .under-title{
	font-family: MuseoSans300;
	font-size: 14px;
	color: #ababab;
	line-height: 25px;
}
.material .banner .more{
	font-family: MuseoSans300;
	cursor: pointer;
	width: 160px;
	position: relative;
	font-size: 14px;
	color: #f89505;
	margin-top: 40px;
}
.material .banner .more a{
	font-family: MuseoSans300;
	font-size: 14px;
	color: #f89505;
	text-decoration: none;
}
.material .banner .more .line{
	position: absolute;
	display: block;
	float: right;
	right: 0;
	top: 10px;
	width: 15px;
	height: 2px;
	background: #f89505;
}
.material .banner .more .arrow{
	position: absolute;
	border: solid #f89505;
  	border-width: 0 2px 2px 0;
  	display: inline-block;
  	padding: 3px;
  	right: -1px;
  	bottom: -3px;
	transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.material .banner .right-side{
	z-index: 10;
	position: relative;
	padding: 55px 55px;
	background: url('../img/2.png');
	background-position: center;
}
.material .banner .right-side:after{
	content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}
.material .banner .right-side h1{
	font-family: MuseoSans700;
	/*font-size: 30px;*/
	line-height: 40px;
	color: #fff;
	position: relative;
	z-index: 1;
}
.material .banner .right-side .time{
	font-family: MuseoSans300;
	font-size: 14px;
	/*line-height: 30px;*/
	color: #b5b4b2;
	position: relative;
	z-index: 1;
}
.material .banner .right-side .watch{
	font-family: MuseoSans300;
	margin-top: 20px;
	color: #fff;
	font-size: 14px;
	padding: 8px 15px;
	text-decoration: none;
	position: relative;
	z-index: 1;
	background: #ef4c2a; /* Old browsers */
    background: -moz-linear-gradient(top, #ef4c2a 0%, #f89604 52%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ef4c2a 0%,#f89604 52%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ef4c2a 0%,#f89604 52%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.material .banner .right-side .play{
	display: none;
	position: absolute;
	width: 80px;
	height: 80px;
	background: #fff;
	border-radius: 50%;
	z-index: 1;
	top:95px;
	right: 50px;
}
.material .banner .right-side .play:after{
	content: '';
	display: none;
	position: absolute;
	width: 0;
	height: 0;
	top: 38%;
	left: 33px;
	border-style: solid;
	border-width: 12px 0 12px 20px;
	border-color: transparent transparent transparent #f89505;
}

/*info*/
.info{
	top: -120px;
	position: relative; 
	background: #f7f7f7; /* Old browsers */
    background: -webkit-linear-gradient(left, #f7f7f7 0%, #f7f7f7 50%, #ffffff 100%);
    background: -o-linear-gradient(left, #f7f7f7 0%, #f7f7f7 50%, #ffffff 100%);
    background: linear-gradient(to right, #f7f7f7 0%, #f7f7f7 50%, #ffffff 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.info .main{
	margin-top: 30px;
}
.info .left-side{
	background:#f7f7f7;
	padding-top:200px;
	padding-bottom: 150px;
}
.info .left-side h1{
	font-family: MuseoSans700;
	font-size: 46px;
	color: #3c3c3c
}
.info .left-side .under-title{
	font-family: MuseoSans300;
	font-size: 14px;
	color: #aaaaaa;
}
.info .left-side .left-content h4{
	font-family: MuseoSans700;
	font-size: 14px;
	color: #3c3c3c;
}
.info .left-side .left-content.title{
	font-family: MuseoSans300;
	font-size: 14px;
	color: #777777;
}
.info .left-side .right-content h4{
	font-family: MuseoSans700;
	font-size: 18px;
	color: #3c3c3c;
}
.info .left-side .right-content .content{
	font-family: MuseoSans300;
	font-size: 16px;
	color: #3c3c3c;
}
.info .more{
	font-family: MuseoSans300;
	cursor: pointer;
	width: 160px;
	position: relative;
	font-size: 14px;
	color: #f89505;
	margin-top: 40px;
	float: right;
	margin-right: 40px;
}
.info .more a{
	font-family: MuseoSans300;
	font-size: 14px;
	color: #f89505;
	text-decoration: none;
}
.info .more .line{
	position: relative;
	display: block;
	float: right;
	left: 10px;
	top: 10px;
	width: 15px;
	height: 2px;
	background: #f89505;
}
.info .more .arrow{
	position: absolute;
	border: solid #f89505;
  	border-width: 0 2px 2px 0;
  	display: inline-block;
  	padding: 3px;
  	right: -1px;
  	bottom: -3px;
	transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
/*info right-side*/
.info .right-side{
	background:#fff;
	padding-top:200px;
	padding-left: 50px;
	padding-bottom: 150px;
	/*padding-right: 20px;*/
}
.info .right-side h1{
	font-family: MuseoSans700;
	margin-left: 25px;
	font-size: 46px;
	color: #3c3c3c
}
.info .right-side .under-title{
	font-family: MuseoSans300;
	margin-left: 25px;
	font-size: 14px;
	color: #aaaaaa;
}
.info .right-side .left-content {
	margin: 0 auto;
	text-align: center;
}
.info .right-side .left-content img{
	width: 100px;
	height: 100px;
}
.info .right-side .left-content h4{
	font-family: MuseoSans500;
	font-size: 14px;
	color: #3c3c3c;
}
.info .right-side .left-content.title{
	font-family: MuseoSans300;
	font-size: 14px;
	color: #777777;
}
.info .right-side .right-content h4{
	font-family: MuseoSans700;
	font-size: 18px;
	color: #3c3c3c;
}
.info .right-side .right-content .content{
	font-size: 16px;
	font-family: MuseoSans300;
	color: #3c3c3c;
}


/*callback*/
.callback{
	margin-top: -120px;
	padding: 40px 0;
	background:#f4f6f7;
	/*box-shadow: inset 0px 25px 75px 0px rgba(0,0,0,0.5)*/
	box-shadow: inset 0px 25px 65px 0px rgba(0,0,0,0.2)
}
.callback h1{
	font-family: MuseoSans700;
	font-size: 46px;
	color: #3c3c3c;
	letter-spacing: 1px;
	font-weight: bold;
}
.callback .under-title{
	font-family: MuseoSans300;
	font-size: 14px;
	color: #989999;
	letter-spacing: 1px;
	line-height: 30px;
}
.callback .form{
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.callback .form input{
	font-family: MuseoSans300;
	margin-top: 30px;
	margin-bottom: 50px;
	background: #ffffff;
	border-radius: 8px;
	border: none;
	padding: 15px 20px;
	width: 320px;
	margin-right: 30px;
	font-size: 14px;
}
.callback .mine-btn{
	font-family: MuseoSans500;
	background: #f89505;
	color: #fff;
	text-align: center;
	width: 200px;
	border-radius: 8px;
	padding: 15px 20px;
	font-size: 16px;
}
	::-webkit-input-placeholder {color:#9d9d9d; font-size: 15px;}
	::-moz-placeholder          {color:#9d9d9d; font-size: 15px;}/* Firefox 19+ */
	:-moz-placeholder           {color:#9d9d9d; font-size: 15px;}/* Firefox 18- */
	:-ms-input-placeholder      {color:#9d9d9d; font-size: 15px;}


.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ef4e29;
}
/*footer*/
footer{
	position: relative;
	width: 100%;
	background: #f4f6f7;
	padding: 40px 0  30px 0;
}
footer .row:first-child{
	width: 100%;
	padding: 40px 0 ;
	/*position: relative;*/
}
footer .row:first-child:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background:#dde2e4;
	top: 35px;
	left: 0;
}
footer .row:first-child:after{
	content: "";
	width: 100%;
	height: 2px;
	background:#dde2e4;
	bottom: 90px;
	left: 0;
	position: absolute;
}
footer .row>ul>li{
	list-style: none;
	display: inline-block;
	margin-left: 20px;
	font-size: 14px;
	color: #a8a9aa;
	letter-spacing: 1px;
}
footer .row>ul>li>a{
	font-family: MuseoSans500;
	text-decoration: none;
	font-size: 14px;
	color: #a8a9aa;
	letter-spacing: 1px;
}
footer .row>p{
	padding-top: 30px;
	font-family: MuseoSans500;
	font-size: 12px;
	color: #a8a9aa;
	text-align: center;
	letter-spacing: 1px;
}
/*sliders*/
.slider .bx-wrapper{
	background: transparent;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.slider .bx-wrapper .bx-prev {
  top: 25% !important;
  right: -45px;
  background: url('images/prev1.png') no-repeat;
}
.slider5 .bx-wrapper .bx-prev:hover,
.slider5 .bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
.slider .bx-wrapper .bx-next {
  right: -45px;
  background: url('images/next1.png') no-repeat ;
}
.slider5 .bx-wrapper .bx-next:hover,
.slider5 .bx-wrapper .bx-next:focus {
  background-position: 0 0;
}
.slider .bx-wrapper .bx-pager,
.slider .bx-wrapper .bx-controls-auto {
  position: absolute;
  top: 111px;
  right: -33px;
 }
.slider .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 57%;
  margin-top: -16px;
  outline: 0;
  width: 42px;
  height: 42px;
  text-indent: -9999px;
}
.slider5 .bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/*media queries*/
@media (min-width: 993px){
	.material .banner .right-side .play, .material .banner .right-side .play:after{
		display: block;
	}
}
@media (max-width: 992px) and (min-width: 768px){
	h1{
		font-size: 34px !important;
	}
	.material .banner .right-side{
		padding: 25px 35px;
	}
	.projects{
		padding: 20px 10px;
	}
	.slider{
		padding: 10px 10px 20px 10px;
	}
	.material .right-side:hover .play{
		/*top:140px;*/
		display: block;
	}
	.material .right-side:hover .play:after{
		display: block;
	}
	.slider .navbar-default .navbar-collapse{
		/*background: #fff;*/
	}
	.slider .navbar-default .navbar-nav>.active>a, .slider .navbar-default .navbar-nav>li>a,.slider  .navbar-default .navbar-nav>.open>a, .slider .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
		color: #fff;
		font-size: 13px;
	}
	.slider .navbar-brand>img{
		max-width: 75%;
	}
	.slider .navbar-header{
		width: 240px;
	}
	.slider .nav>li>a{
		padding: 10px;
	}
	/*.slider .navbar-default .navbar-toggle {
		display: none;
	}*/
}
@media (max-width: 767px){
	.callback {
		padding: 15px 20px;
	}
	.callback .form input{
		margin-top: 0px;
		margin-bottom: 20px;
		margin-right: 0px;
		width: 250px;
	}
	.slider .mine-btn{
		display: none;
	}
	.slider .navbar-default{
		background-color:#ef4e29 !important;
	}
	.material .banner .right-side{
		padding: 20px 20px;
	}
	.slider .navbar-brand{
		float: none;
	}
	.projects{
		padding: 15px 15px;
	}
	.slider{
		padding: 10px;
	}
	.material .right-side:hover .play{
		/*top:140px;*/
		display: block;
	}
	.material .right-side:hover .play:after{
		display: block;
	}
	h1{
		font-size: 30px !important;
	}
	.slider .navbar-default .navbar-nav>.active>a, .slider .navbar-default .navbar-nav>li>a,.slider  .navbar-default .navbar-nav>.open>a, .slider .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
		background-color: transparent;
		color: #fff;
		font-size: 13px;
	}
	.slider .navbar-brand>img{
		max-width: 75%;
		margin-top: -15px;
	}
	.slider .navbar-brand{
		padding: 10px 10px;
	}
	.slider .navbar-header{
		padding-top: 6px;
		padding-bottom: 6px;
	}
	.info .right-side {
	    background: #fff;
	    padding-top: 30px;
	    padding-left: 20px;
	    padding-bottom: 150px;
	    padding-right: 20px;
	}
	.info .right-side .right-content .text-left, .info .right-side .right-content .content{
		text-align: center !important;
	}
}
@media (max-width: 867px){
	.bx-controls{
		display: none;
	}
}
@media (max-width: 1070px) and (min-width: 992px){
	.bx-controls{
		display: none;
	}
}
        